@let(title = 'Sign Up')
@include('pages/partials/head')
<div>
    
    @!component('components/input', {type : 'text', id : 'idname', name: 'name', placeholder: 'Name and Firstname'})
  </div>
  @include('pages/partials/foot')